<!DOCTYPE html>
<html>

<head>
    <title>Social Post Location</title>
    <link rel="shortcut icon" href="static/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <style type="text/css">
    html,
    body,
    #map_canvas {
        height: 100%;
        width: 100%;
        margin: 0px;
    }
    
    #map_canvas {
        position: relative;
    }
    
    .angular-google-map-container {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }
    </style>
</head>

<body ng-app="SocialApp" ng-cloak>
    <div layout="row" style="height: 100%;" ng-controller="instaCtrl">
        <div style="height:500px; position:relative;" ng-cloak flex="20" ng-controller="searchCtrl">
            <section layout="row" ng-cloak>
                <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="true" flex>
                    <md-toolbar>
                        <h1 class="md-toolbar-tools">Social Post Location</h1>
                    </md-toolbar>
                    <md-content layout-padding>
                        <p>Cerca i post in base alla loro posizione!</p>
                        <md-input-container class="md-block" flex-gt-sm>
                            <!--<label>Location</label>-->
                            <input type="text" placeholder="Location" id="pac-input" ng-model="search.location">
                        </md-input-container>
                        <md-radio-group ng-model="search.social">
                            <md-radio-button value="photo">Instagram Photo</md-radio-button>
                            <md-radio-button value="event"> Facebook Event </md-radio-button>
                            <md-radio-button value="post">Facebook Page Post</md-radio-button>
                        </md-radio-group>
                        <md-button ng-disabled="!search.location" class="md-raised">CERCA</md-button>
                    </md-content>
                </md-sidenav>
            </section>
        </div>
        <div flex="80" ng-controller="mapCtrl">
            <div ng-if="!map" style="text-align:-webkit-center; padding:300px;">
                <img src="/static/images/map_loader.gif">
                <h3>Sto caricando la mappa</h3>
            </div>
            <div ng-if="map" id="map_canvas" style="height: 900px;">
                <!-- <script type="text/ng-template" id="searchbox.tpl.html">
                    <input type="text" placeholder="Search Box">
                </script> -->
                <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
                    <ui-gmap-marker coords="marker.coords" options="marker.options" idkey="marker.id"></ui-gmap-marker>
                    <ui-gmap-circle ng-repeat="c in circles track by c.id" center="c.center" stroke="c.stroke" fill="c.fill" radius="c.radius" visible="c.visible" geodesic="c.geodesic" editable="c.editable" draggable="c.draggable" clickable="c.clickable" control="c.control"></ui-gmap-circle>
                    <!-- <ui-gmap-search-box template="searchbox.template" events="searchbox.events"></ui-gmap-search-box> -->
                </ui-gmap-google-map>
            </div>
        </div>
    </div>
    <!--  Jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="/lib/lodash/index.js"></script>
    <!-- Angular -->
    <script src="/lib/angular/angular.min.js"></script>
    <script src="/lib/angular-animate/angular-animate.min.js"></script>
    <script src="/lib/angular-aria/angular-aria.min.js"></script>
    <script src="/lib/angular-simple-logger/dist/angular-simple-logger.min.js"></script>
    <!-- Angular Material -->
    <script src="/lib/angular-material/angular-material.min.js"></script>
    <!-- Angular Maps -->
    <script src="/lib/angular-google-maps/dist/angular-google-maps.js"></script>
    <!-- Satellizer -->
    <script src="/lib/satellizer/satellizer.min.js"></script>
    <script type="text/javascript">
    var socialApp = angular.module('SocialApp', ['ngMaterial', 'uiGmapgoogle-maps', 'satellizer']);

    socialApp
        .config(function(uiGmapGoogleMapApiProvider) {
            uiGmapGoogleMapApiProvider.configure({
                v: '3.20',
                libraries: 'weather,geometry,visualization,places'
            });
        })
        .config(function($mdIconProvider) {
            $mdIconProvider.iconSet("avatars", 'icons/avatar-icons.svg', 128);
        })
        .config(function($authProvider) {
            $authProvider.oauth2({
                name: 'instagram',
                url: 'http://localhost:3000/auth/instagram',
                redirectUri: 'http://socialpost.westeurope.cloudapp.azure.com/thanks',
                clientId: '7c83df2dd8004cb683d5a861065507fd',
                requiredUrlParams: ['scope'],
                scope: ['likes'],
                scopeDelimiter: '+',
                authorizationEndpoint: 'https://api.instagram.com/oauth/authorize'
            });
        });

    socialApp.controller('instaCtrl', function($scope, $http, $log, $window, $rootScope, $auth) {

        $scope.isAuthenticated = function() {
            return $auth.isAuthenticated();
        };

        var linkInstagram = function() {
            $auth.link('instagram')
                .then(function(response) {
                    $window.localStorage.currentUser = JSON.stringify(response.data.user);
                    $rootScope.currentUser = JSON.parse($window.localStorage.currentUser);
                });
        };

        linkInstagram();

    });


    socialApp.controller('mapCtrl', function($scope, $http, $log, uiGmapIsReady, $timeout) {

        uiGmapIsReady.promise(1).then(function(instances) {
            instances.forEach(function(inst) {

                var map = inst.map;
                var uuid = map.uiGmap_id;
                var mapInstanceNumber = inst.instance; // Starts at 1.
            });
        });

        $scope.options = {
            scrollwheel: false
        };

        var showPosition = function(position) {
            $scope.map = {
                center: {
                    latitude: position.coords.latitude,
                    longitude: position.coords.longitude
                },
                zoom: 14
            };

            /*$scope.marker = {
                id: 0,
                coords: $scope.map.center,
                options: {
                    draggable: true,
                    icon:'/static/images/maker.png'
                }
            };*/
            $scope.marker = {
                id: 0,
                coords: {
                    latitude: position.coords.latitude,
                    longitude: position.coords.longitude
                },
                options: {
                    draggable: false,
                    icon: '/static/images/maker.png'
                }
            };

            $scope.circles = [{
                id: 1,
                center: {
                    latitude: position.coords.latitude,
                    longitude: position.coords.longitude
                },
                radius: 2000,
                stroke: {
                    color: '#08B21F',
                    weight: 2,
                    opacity: 1
                },
                fill: {
                    color: '#08B21F',
                    opacity: 0.5
                },
                geodesic: true,
                draggable: true,
                clickable: true,
                editable: true,
                visible: true,
                control: {}
            }];

            var input = document.getElementById('pac-input');
            var searchBox = new google.maps.places.SearchBox(input);

            $log.info('map', $scope.map);

        }

        var getLocation = function() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                $scope.map = {
                    center: $scope.coords,
                    zoom: 10
                };
            }
        }

        getLocation();

        $scope.options = {
            scrollwheel: false
        };

        /*$scope.coordsUpdates = 0;
        $scope.dynamicMoveCtr = 0;

        $scope.$watchCollection("marker.coords", function(newVal, oldVal) {
            if (_.isEqual(newVal, oldVal))
                return;
            $scope.coordsUpdates++;
        });
        $timeout(function() {
            $scope.marker.coords = {
                latitude: 42.1451,
                longitude: -100.6680
            };
            $scope.dynamicMoveCtr++;
            $timeout(function() {
                $scope.marker.coords = {
                    latitude: 43.1451,
                    longitude: -102.6680
                };
                $scope.dynamicMoveCtr++;
            }, 2000);
        }, 1000);*/

    });

    socialApp.controller('searchCtrl', function($scope, $http, $log, uiGmapIsReady) {

        $scope.search = {
            social: 'photo',
        };

        $scope.title1 = 'Button';
        $scope.title4 = 'Warn';
        $scope.isDisabled = true;
        $scope.googleUrl = 'http://google.com';
    });
    </script>
</body>

</html>
