<!DOCTYPE html>
<html>

<head>
    <title>Social Post Location</title>
    <link rel="shortcut icon" href="static/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <!--  Jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="/lib/lodash/index.js"></script>
    <!-- Angular -->
    <script src="/lib/angular/angular.min.js"></script>
    <script src="/lib/angular-animate/angular-animate.min.js"></script>
    <script src="/lib/angular-aria/angular-aria.min.js"></script>
    <script src="/lib/angular-simple-logger/dist/angular-simple-logger.min.js"></script>
    <!-- Angular Material -->
    <script src="/lib/angular-material/angular-material.min.js"></script>
    <!-- Angular Maps -->
    <script src="/lib/angular-google-maps/dist/angular-google-maps.js"></script>
    <!-- Satellizer -->
    <script src="/lib/satellizer/satellizer.min.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/map.css">
    <!-- ANGULAR MODULE -->
    <script src="/js/index.js"></script>
    <!-- ANGULAR CONFIG -->
    <script src="/js/config/authInsta.js"></script>
    <script src="/js/config/gmaps.js"></script>
    <!-- ANGULAR SERVICE -->
    <script src="/js/service/instaService.js"></script>
    <!-- ANGULAR CONTROLLER -->
    <script src="/js/controller/instaCtrl.js"></script>
    <script src="/js/controller/mapCtrl.js"></script>
    <script src="/js/controller/searchCtrl.js"></script>
</head>

<body ng-app="SocialApp" ng-cloak>
    <div layout="row" style="height: 100%;">
        <div style="height:500px; position:relative;" ng-cloak flex="20" ng-controller="searchCtrl">
            <section layout="row" ng-cloak>
                <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="true" flex>
                    <md-toolbar>
                        <h1 class="md-toolbar-tools">Social Post Location</h1>
                    </md-toolbar>
                    <md-content layout-padding>
                        <div ng-controller="instaCtrl">
                            <div ng-if="currentUser">
                                <p>Ciao, {{currentUser.username}}</p>
                                <img ng-src="{{currentUser.picture}}">
                                <div>
                                    <md-button class="md-raised md-primary md-button md-ink-ripple" ng-click="showMyPhoto()">Mostra mie foto</md-button>
                                </div>
                                <div>
                                    <md-button class="md-raised" ng-click="logout()">Logout</md-button>
                                </div>
                            </div>
                            <div ng-if="!currentUser">
                                <p>Esegui l'accesso</p>
                                <md-button class="md-raised md-primary md-button md-ink-ripple" ng-click="linkInstagram()">Login Instagram</md-button>
                            </div>
                        </div>
                        <p>Cerca i post in base alla loro posizione!</p>
                        <md-input-container class="md-block" flex-gt-sm>
                            <!--<label>Location</label>-->
                            <input type="text" placeholder="Location" id="pac-input" ng-model="search.location">
                        </md-input-container>
                        <md-radio-group ng-model="search.social">
                            <md-radio-button value="photo">Instagram Photo</md-radio-button>
                            <md-radio-button value="event"> Facebook Event </md-radio-button>
                            <md-radio-button value="post">Facebook Page Post</md-radio-button>
                        </md-radio-group>
                        <md-button ng-disabled="!search.location" class="md-raised">CERCA</md-button>
                    </md-content>
                </md-sidenav>
            </section>
        </div>
        <div flex="80" ng-controller="mapCtrl">
            <div ng-if="!map" style="text-align:-webkit-center; padding:300px;">
                <img src="/static/images/map_loader.gif">
                <h3>Sto caricando la mappa</h3>
            </div>
            <div ng-if="map" id="map_canvas" style="height: 900px;">
                <!-- <script type="text/ng-template" id="searchbox.tpl.html">
                    <input type="text" placeholder="Search Box">
                </script> -->
                <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
                    <ui-gmap-marker coords="marker.coords" options="marker.options" idkey="marker.id"></ui-gmap-marker>
                    <ui-gmap-circle ng-repeat="c in circles track by c.id" center="c.center" stroke="c.stroke" fill="c.fill" radius="c.radius" visible="c.visible" geodesic="c.geodesic" editable="c.editable" draggable="c.draggable" clickable="c.clickable" control="c.control"></ui-gmap-circle>
                    <!-- <ui-gmap-search-box template="searchbox.template" events="searchbox.events"></ui-gmap-search-box> -->
                </ui-gmap-google-map>
            </div>
        </div>
    </div>
</body>

</html>
