<md-content flex ng-controller="instaCtrl" style="border-right: 1px solid #eee;">
    <md-toolbar style="height: 80px; min-height: 0;">
        <div class="md-toolbar-tools" style="margin: 8px 0;">
            <img src="/static/images/logo.png" style="margin: 8px auto;">
            <!--<h2 class="md-flex">SPLOC</h2>-->
        </div>
    </md-toolbar>
    <div ng-if="currentUser">
        <md-content class="md-no-momentum" style="margin-top:  30px; text-align: center;">
            <img ng-src="{{currentUser.picture}}" style="border-radius: 50%;">
            <p style="font-family: 'Roboto-Bold';">{{currentUser.username}}</p>
            <div style="background: #E3E3E3; width: 70%; height: 1px; margin: 25px auto;"></div>
            <div layout="row">
                <div flex>
                    <a style="text-decoration: none;color: #000;" target="_blank" href="https://www.instagram.com/{{currentUser.username}}/">
                        <i class="fa fa-instagram" style="font-size: 40px;"></i>
                    </a>
                </div>
                <div flex>
                    <a style="text-decoration: none;color: #000; cursor: pointer;" ng-click="logout()">
                        <i class="fa fa-sign-out" style="font-size: 40px;" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </md-content>
    </div>
    <div ng-if="!currentUser">
        <md-content class="md-no-momentum" style="margin-top:  20px; text-align: center;">
            <img src="static/images/user-splok.png" title="Login As User" width="96" style="border-radius: 50%;border: 1px solid #CDCDCD;padding: 15px;">
            <p>Esegui l'accesso</p>
            <md-button class="md-raised md-primary md-button md-ink-ripple" ng-click="linkInstagram()">Login Instagram</md-button>
        </md-content>
    </div>
    <div style="margin-top:  20px; text-align: center;">
        <md-content class="md-no-momentum">
            <p>Foto: {{locationPhotos.length}}</p>
        </md-content>
        <md-content class="md-no-momentum">
            <md-radio-group ng-model="distance">
                <md-radio-button value="1">1 km</md-radio-button>
                <md-radio-button value="2">2 km </md-radio-button>
                <md-radio-button value="3">3 km</md-radio-button>
                <md-radio-button value="4">4 km</md-radio-button>
                <md-radio-button value="5">5 km</md-radio-button>
            </md-radio-group>
        </md-content>
        <md-content class="md-no-momentum">
            <md-button type="button" ng-click="searchPhotos(coords1, true)" class="md-raised md-accent" style="margin: 26px 0;">More photos</md-button>
        </md-content>
    </div>
</md-content>
