<md-content flex ng-controller="instaCtrl" style="border-right: 1px solid #eee;">
    <md-toolbar style="height: 48px; min-height: 0;">
        <div class="md-toolbar-tools">
            <h2 class="md-flex">SPLOC</h2>
        </div>
    </md-toolbar>
    <div ng-if="currentUser">
        <md-content class="md-no-momentum" style="margin-top:  30px; text-align: center;">
            <img ng-src="{{currentUser.picture}}" style="border-radius: 50%;">
            <p style="font-family: 'Roboto-Bold';"><a href="https://www.instagram.com/{{currentUser.username}}/" style="text-decoration: none;color: #000;">{{currentUser.username}}</a></p>
            <div style="background: #E3E3E3; width: 70%; height: 1px; margin: 25px auto;"></div>
        </md-content>
        <form ng-submit="searchPhotos(coords1, true)">
            <md-content class="md-no-momentum" style="text-align: center;">
                <p style="margin: 0 0 25px 0;">Effettua una ricerca</p>
                <md-input-container style="margin: 0 30px;">
                    <label>Location</label>
                    <input placeholder="" places-auto-complete size=80 ng-model="location" component-restrictions="" types="{{types}}" on-place-changed="placeChanged()" />
                    <br/>
                </md-input-container>
                <!-- <md-input-container style="margin: 0 30px;">
                                    <label>Tag</label>
                                    <input placeholder="" ng-model="tag" type="text">
                                </md-input-container> -->
            </md-content>
            <md-content class="md-no-momentum" style="text-align: center;">
                <md-button type="submit" class="md-raised md-primary">Search</md-button>
            </md-content>
        </form>
        <md-content class="md-no-momentum" style="margin-top:  20px; text-align: center;">
            <div style="background: #E3E3E3; width: 70%; height: 1px; margin: 25px auto;"></div>
            <md-button class="md-raised" ng-click="logout()">Logout</md-button>
        </md-content>
    </div>
    <div ng-if="!currentUser">
        <md-content class="md-no-momentum" style="margin-top:  20px; text-align: center;">
            <img src="https://maxcdn.icons8.com/Color/PNG/96/User_Interface/login_as_user-96.png" title="Login As User" width="96" style="border-radius: 50%;border: 1px solid #CDCDCD;padding: 15px;">
            <p>Esegui l'accesso</p>
            <md-button class="md-raised md-primary md-button md-ink-ripple" ng-click="linkInstagram()">Login Instagram</md-button>
        </md-content>
    </div>
</md-content>
